Repository qutescoop/qutescoop, pull requests merged in 2022-02, with the labels that each got.

#79 Fix calculation of sector centers at the longitude wrap around
  data/_notes.txt
  src/BookedController.cpp
  src/GLWidget.cpp
  src/Sector.cpp
  src/Sector.h
Labels: sector files

#89 [FEATURE] allow adding name aliases for friends
  src/AirportDetailsAtcModel.cpp
  src/BookedAtcDialogModel.cpp
  src/BookedController.cpp
  src/Client.cpp
  src/Client.h
  src/Controller.cpp
  src/ControllerDetails.cpp
  src/ControllerDetails.h
  src/ControllerDetails.ui
  src/FriendsVisitor.cpp
  src/FriendsVisitor.h
  src/ListClientsDialogModel.cpp
  src/PilotDetails.cpp
  src/PilotDetails.h
  src/PilotDetails.ui
  src/SearchResultModel.cpp
  src/SearchResultModel.h
  src/Settings.cpp
  src/Settings.h
  src/WhazzupData.cpp
  src/Window.ui
Labels: UI

#70 [!!!][TASK] remove firdisplay.sup usage
  QuteScoop.pro
  data/_notes.txt
  data/dataversions.txt
  data/firdisplay.dat
  data/firdisplay.sup
  src/PreferencesDialog.cpp
  src/PreferencesDialog.h
  src/PreferencesDialog.ui
  src/SectorReader.cpp
  src/Settings.cpp
  src/Settings.h
Labels: sector files

#65 [TASK] Capture release URL
  .github/workflows/build.yaml
Labels: inactive
